<a href="https://colab.research.google.com/github/Kavyagandhi23/Training-ANN-model/blob/main/Deep_Learning_ANN.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Creating Artificial Neural Network (ANN) model using deep learning concepts and tensorflow.

Data use to train the model is https://www.kaggle.com/datasets/shrutimechlearn/churn-modelling

I learned so many new concepts and how to create ANN model and implement practically. Here in this small project, i used churn modelling dataset downloaded from Kaggle. Firstly, I performed Some EDA like drop some columns, convert columns into dummy variable and join the dataframes using concat() function.

Second, Feature Scaling is done by using StandardScaler method, to scale the training and test data in a particular range. Next, the ANN model is created using Sequential model and tensorflow framework. early stopping is also performed to stop the model when the higher accuracy is achieved by the model. Later the Adam optimizer and binary cross entropy is used to calculate the loss and perform the back propogation with the help of Adam optimizer.

Lastly, the prediction is made using the predict() function and the accuracy is calculated from sklearn.models.

Reference - Krish Naik (Youtube Videos)

In [ ]:
import tensorflow as tf

In [ ]:
print(tf.__version__)

2.12.0

In [ ]:
# import libraries
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [ ]:
data = pd.read_csv("/content/Churn_Modelling.csv")

In [ ]:
data.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [ ]:
x_data = data.iloc[:,3:13]
y_data = data.iloc[:,13]

In [ ]:
x_data.head()

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary
0,619,France,Female,42,2,0.00,1,1,1,101348.88
1,608,Spain,Female,41,1,83807.86,1,0,1,112542.58
2,502,France,Female,42,8,159660.80,3,1,0,113931.57
3,699,France,Female,39,1,0.00,2,0,0,93826.63
4,850,Spain,Female,43,2,125510.82,1,1,1,79084.10

In [ ]:
y_data

0       1
1       0
2       1
3       0
4       0
       ..
9995    0
9996    0
9997    1
9998    1
9999    0
Name: Exited, Length: 10000, dtype: int64

In [ ]:
Geography = pd.get_dummies(x_data['Geography'])

In [ ]:
Gender = pd.get_dummies(x_data['Gender'])

In [ ]:
x_data = x_data.drop(['Geography','Gender'], axis= 1)

In [ ]:
x_data = pd.concat([x_data, Geography, Gender], axis = 1)

In [ ]:
x_data

,CreditScore,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,France,Germany,Spain,Female,Male
0,619,42,2,0.00,1,1,1,101348.88,1,0,0,1,0
1,608,41,1,83807.86,1,0,1,112542.58,0,0,1,1,0
2,502,42,8,159660.80,3,1,0,113931.57,1,0,0,1,0
3,699,39,1,0.00,2,0,0,93826.63,1,0,0,1,0
4,850,43,2,125510.82,1,1,1,79084.10,0,0,1,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,771,39,5,0.00,2,1,0,96270.64,1,0,0,0,1
9996,516,35,10,57369.61,1,1,1,101699.77,1,0,0,0,1
9997,709,36,7,0.00,1,0,1,42085.58,1,0,0,1,0
9998,772,42,3,75075.31,2,1,0,92888.52,0,1,0,0,1
9999,792,28,4,130142.79,1,1,0,38190.78,1,0,0,1,0

In [ ]:
# Split the dataset into train and test data
from sklearn.model_selection import train_test_split
x_train, x_test, y_train,y_test = train_test_split(x_data, y_data, test_size = 0.2, random_state = 0)

In [ ]:
# Feature Scaling
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
x_train = sc.fit_transform(x_train) # fit_transform() used to fit the training data and learn the parameters of the scaling of training data then will use to scale the train data
x_test = sc.transform(x_test)  # transform() use to scale the data learned from the parameters find in the training data

In [ ]:
# Create ANN model
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense
from tensorflow.keras.layers import ReLU
from tensorflow.keras.layers import Dropout
classifier = Sequential()

In [ ]:
x_train.shape

(8000, 13)

In [ ]:
# Input Layer
classifier.add(Dense(units=13, activation = 'relu'))

In [ ]:
# First Hidden Layer
classifier.add(Dense(units = 9, activation = 'relu'))

In [ ]:
# Second hidden layer
classifier.add(Dense(units = 6, activation = 'relu'))

In [ ]:
# Output Layer
classifier.add(Dense(units = 1, activation = 'sigmoid'))

In [ ]:
import tensorflow
opt = tensorflow.keras.optimizers.Adam(learning_rate = 0.01)
classifier.compile(optimizer = opt, loss = 'binary_crossentropy', metrics = ['accuracy'])

In [ ]:
classifier

In [ ]:
early_stopping = tensorflow.keras.callbacks.EarlyStopping(
    monitor="val_loss",
    min_delta=0.001,
    patience=20,
    verbose=1,
    mode="auto",
    baseline=None,
    restore_best_weights=False,
    start_from_epoch=0,
)

In [ ]:
model = classifier.fit(x_train,y_train, validation_split = 0.33, batch_size = 10, epochs = 1000, callbacks = early_stopping)

Epoch 1/1000
536/536 [==============================] - 3s 5ms/step - loss: 0.3246 - accuracy: 0.8662 - val_loss: 0.3798 - val_accuracy: 0.8519
Epoch 2/1000
536/536 [==============================] - 3s 5ms/step - loss: 0.3232 - accuracy: 0.8670 - val_loss: 0.3722 - val_accuracy: 0.8527
Epoch 3/1000
536/536 [==============================] - 3s 5ms/step - loss: 0.3224 - accuracy: 0.8686 - val_loss: 0.3888 - val_accuracy: 0.8493
Epoch 4/1000
536/536 [==============================] - 4s 7ms/step - loss: 0.3154 - accuracy: 0.8701 - val_loss: 0.3784 - val_accuracy: 0.8444
Epoch 5/1000
536/536 [==============================] - 3s 5ms/step - loss: 0.3233 - accuracy: 0.8679 - val_loss: 0.3766 - val_accuracy: 0.8493
Epoch 6/1000
536/536 [==============================] - 3s 5ms/step - loss: 0.3213 - accuracy: 0.8705 - val_loss: 0.3796 - val_accuracy: 0.8538
Epoch 7/1000
536/536 [==============================] - 3s 5ms/step - loss: 0.3215 - accuracy: 0.8684 - val_loss: 0.3663 - val_accuracy: 0.8516
Epoch 8/1000
536/536 [==============================] - 3s 5ms/step - loss: 0.3210 - accuracy: 0.8698 - val_loss: 0.3681 - val_accuracy: 0.8519
Epoch 9/1000
536/536 [==============================] - 3s 6ms/step - loss: 0.3183 - accuracy: 0.8684 - val_loss: 0.3728 - val_accuracy: 0.8516
Epoch 10/1000
536/536 [==============================] - 2s 5ms/step - loss: 0.3212 - accuracy: 0.8705 - val_loss: 0.3667 - val_accuracy: 0.8550
Epoch 11/1000
536/536 [==============================] - 3s 5ms/step - loss: 0.3193 - accuracy: 0.8677 - val_loss: 0.3764 - val_accuracy: 0.8466
Epoch 12/1000
536/536 [==============================] - 3s 5ms/step - loss: 0.3167 - accuracy: 0.8701 - val_loss: 0.3681 - val_accuracy: 0.8459
Epoch 13/1000
536/536 [==============================] - 4s 7ms/step - loss: 0.3206 - accuracy: 0.8696 - val_loss: 0.3784 - val_accuracy: 0.8448
Epoch 14/1000
536/536 [==============================] - 2s 5ms/step - loss: 0.3228 - accuracy: 0.8668 - val_loss: 0.3914 - val_accuracy: 0.8516
Epoch 15/1000
536/536 [==============================] - 2s 5ms/step - loss: 0.3203 - accuracy: 0.8679 - val_loss: 0.3666 - val_accuracy: 0.8482
Epoch 16/1000
536/536 [==============================] - 3s 5ms/step - loss: 0.3194 - accuracy: 0.8699 - val_loss: 0.3668 - val_accuracy: 0.8489
Epoch 17/1000
536/536 [==============================] - 3s 5ms/step - loss: 0.3176 - accuracy: 0.8714 - val_loss: 0.3677 - val_accuracy: 0.8554
Epoch 18/1000
536/536 [==============================] - 3s 6ms/step - loss: 0.3168 - accuracy: 0.8707 - val_loss: 0.3767 - val_accuracy: 0.8546
Epoch 19/1000
536/536 [==============================] - 3s 5ms/step - loss: 0.3211 - accuracy: 0.8714 - val_loss: 0.3889 - val_accuracy: 0.8497
Epoch 20/1000
536/536 [==============================] - 3s 5ms/step - loss: 0.3212 - accuracy: 0.8690 - val_loss: 0.3770 - val_accuracy: 0.8512
Epoch 21/1000
536/536 [==============================] - 3s 5ms/step - loss: 0.3160 - accuracy: 0.8733 - val_loss: 0.3645 - val_accuracy: 0.8512
Epoch 22/1000
536/536 [==============================] - 4s 7ms/step - loss: 0.3184 - accuracy: 0.8705 - val_loss: 0.3843 - val_accuracy: 0.8512
Epoch 23/1000
536/536 [==============================] - 2s 5ms/step - loss: 0.3168 - accuracy: 0.8726 - val_loss: 0.3789 - val_accuracy: 0.8493
Epoch 24/1000
536/536 [==============================] - 3s 5ms/step - loss: 0.3193 - accuracy: 0.8724 - val_loss: 0.3792 - val_accuracy: 0.8470
Epoch 25/1000
536/536 [==============================] - 3s 5ms/step - loss: 0.3151 - accuracy: 0.8737 - val_loss: 0.3695 - val_accuracy: 0.8554
Epoch 26/1000
536/536 [==============================] - 3s 5ms/step - loss: 0.3174 - accuracy: 0.8684 - val_loss: 0.3665 - val_accuracy: 0.8512
Epoch 27/1000
536/536 [==============================] - 3s 6ms/step - loss: 0.3157 - accuracy: 0.8733 - val_loss: 0.3735 - val_accuracy: 0.8554
Epoch 28/1000
536/536 [==============================] - 3s 5ms/step - loss: 0.3160 - accuracy: 0.8709 - val_loss: 0.3687 - val_accuracy: 0.8550
Epoch 29/1000
536/536 [==============================] - 3s 5ms/step - loss: 0.3169 - accuracy: 0.8711 - val_loss: 0.3678 - val_accuracy: 0.8550
Epoch 30/1000
536/536 [==============================] - 3s 5ms/step - loss: 0.3146 - accuracy: 0.8733 - val_loss: 0.3777 - val_accuracy: 0.8489
Epoch 31/1000
536/536 [==============================] - 3s 6ms/step - loss: 0.3130 - accuracy: 0.8731 - val_loss: 0.3657 - val_accuracy: 0.8569
Epoch 32/1000
536/536 [==============================] - 3s 5ms/step - loss: 0.3146 - accuracy: 0.8753 - val_loss: 0.3817 - val_accuracy: 0.8493
Epoch 33/1000
536/536 [==============================] - 3s 5ms/step - loss: 0.3202 - accuracy: 0.8707 - val_loss: 0.3750 - val_accuracy: 0.8501
Epoch 34/1000
536/536 [==============================] - 3s 5ms/step - loss: 0.3174 - accuracy: 0.8746 - val_loss: 0.3896 - val_accuracy: 0.8466
Epoch 35/1000
536/536 [==============================] - 4s 7ms/step - loss: 0.3178 - accuracy: 0.8731 - val_loss: 0.3631 - val_accuracy: 0.8489
Epoch 36/1000
536/536 [==============================] - 3s 5ms/step - loss: 0.3126 - accuracy: 0.8699 - val_loss: 0.3623 - val_accuracy: 0.8535
Epoch 37/1000
536/536 [==============================] - 3s 5ms/step - loss: 0.3154 - accuracy: 0.8740 - val_loss: 0.3918 - val_accuracy: 0.8557
Epoch 38/1000
536/536 [==============================] - 2s 5ms/step - loss: 0.3120 - accuracy: 0.8770 - val_loss: 0.3805 - val_accuracy: 0.8497
Epoch 39/1000
536/536 [==============================] - 3s 5ms/step - loss: 0.3191 - accuracy: 0.8712 - val_loss: 0.3787 - val_accuracy: 0.8504
Epoch 40/1000
536/536 [==============================] - 4s 7ms/step - loss: 0.3134 - accuracy: 0.8753 - val_loss: 0.3773 - val_accuracy: 0.8508
Epoch 41/1000
536/536 [==============================] - 2s 5ms/step - loss: 0.3110 - accuracy: 0.8720 - val_loss: 0.3830 - val_accuracy: 0.8493
Epoch 42/1000
536/536 [==============================] - 2s 5ms/step - loss: 0.3117 - accuracy: 0.8765 - val_loss: 0.3970 - val_accuracy: 0.8497
Epoch 43/1000
536/536 [==============================] - 3s 5ms/step - loss: 0.3134 - accuracy: 0.8757 - val_loss: 0.3945 - val_accuracy: 0.8516
Epoch 44/1000
536/536 [==============================] - 4s 7ms/step - loss: 0.3097 - accuracy: 0.8765 - val_loss: 0.3896 - val_accuracy: 0.8527
Epoch 45/1000
536/536 [==============================] - 3s 5ms/step - loss: 0.3133 - accuracy: 0.8768 - val_loss: 0.3712 - val_accuracy: 0.8527
Epoch 46/1000
536/536 [==============================] - 3s 5ms/step - loss: 0.3141 - accuracy: 0.8722 - val_loss: 0.3845 - val_accuracy: 0.8504
Epoch 47/1000
536/536 [==============================] - 3s 5ms/step - loss: 0.3127 - accuracy: 0.8712 - val_loss: 0.3749 - val_accuracy: 0.8497
Epoch 48/1000
536/536 [==============================] - 3s 6ms/step - loss: 0.3131 - accuracy: 0.8733 - val_loss: 0.3683 - val_accuracy: 0.8448
Epoch 49/1000
536/536 [==============================] - 3s 5ms/step - loss: 0.3121 - accuracy: 0.8742 - val_loss: 0.3680 - val_accuracy: 0.8527
Epoch 50/1000
536/536 [==============================] - 3s 5ms/step - loss: 0.3130 - accuracy: 0.8746 - val_loss: 0.3745 - val_accuracy: 0.8535
Epoch 51/1000
536/536 [==============================] - 3s 5ms/step - loss: 0.3096 - accuracy: 0.8765 - val_loss: 0.3987 - val_accuracy: 0.8504
Epoch 52/1000
536/536 [==============================] - 2s 5ms/step - loss: 0.3130 - accuracy: 0.8765 - val_loss: 0.3800 - val_accuracy: 0.8531
Epoch 53/1000
536/536 [==============================] - 3s 7ms/step - loss: 0.3100 - accuracy: 0.8744 - val_loss: 0.3908 - val_accuracy: 0.8493
Epoch 54/1000
536/536 [==============================] - 3s 5ms/step - loss: 0.3133 - accuracy: 0.8731 - val_loss: 0.3856 - val_accuracy: 0.8508
Epoch 55/1000
536/536 [==============================] - 3s 5ms/step - loss: 0.3141 - accuracy: 0.8740 - val_loss: 0.3869 - val_accuracy: 0.8485
Epoch 55: early stopping

In [ ]:
model.history.keys()

dict_keys(['loss', 'accuracy', 'val_loss', 'val_accuracy'])

In [ ]:
y_pred = classifier.predict(x_test)
y_pred = (y_pred > 0.5)

63/63 [==============================] - 0s 2ms/step

In [ ]:
from sklearn.metrics import confusion_matrix
confusion_matrix = confusion_matrix(y_pred, y_test)
confusion_matrix

array([[1499,  183],
       [  96,  222]])

In [ ]:
from sklearn.metrics import accuracy_score
accuracy_score = accuracy_score(y_pred, y_test)
accuracy_score

0.8605

In [ ]:
classifier.get_weights()

[array([[-4.53361154e-01,  4.50551599e-01, -7.34478891e-01,
          7.54999042e-01, -4.56815869e-01,  1.52710602e-01,
          4.50704932e-01, -2.69402564e-01,  5.71557641e-01,
         -3.01821917e-01,  1.04986630e-01,  3.52430671e-01,
         -6.49996698e-01],
        [-6.39891699e-02,  4.15305710e+00, -1.53682888e-01,
         -1.10146821e+00,  5.46436834e+00, -1.05250514e+00,
         -9.54279229e-02, -5.19436932e+00, -3.11476278e+00,
         -2.25893831e+00, -1.36070132e+00,  7.50354052e-01,
         -4.33102274e+00],
        [-9.14817229e-02, -2.74691463e-01,  8.03002059e-01,
          1.81748903e+00, -3.49808127e-01, -7.75364339e-02,
         -3.94852787e-01,  8.95080939e-02,  3.83991450e-01,
          3.19608521e+00, -1.18756306e+00,  1.67279601e+00,
          2.81608760e-01],
        [ 1.17293704e+00, -7.58151233e-01,  4.79430288e-01,
         -4.05086279e+00,  2.63950825e-01, -5.39160967e+00,
          6.73872137e+00,  1.25150159e-01, -1.84864497e+00,
         -2.93099189e+00,  3.39188957e+00, -1.91397405e+00,
         -1.12754333e+00],
        [ 5.57881117e+00, -3.32287163e-01,  4.97877932e+00,
          6.13367319e+00, -2.80551386e+00, -1.24396360e+00,
          2.81167889e+00, -2.41137855e-02, -9.95327771e-01,
         -1.31488383e+00, -1.08046877e+00,  9.21308517e-01,
          1.72854984e+00],
        [ 1.13700843e+00, -2.17291430e-01, -1.96630701e-01,
         -8.18574071e-01, -1.34510791e+00, -7.25100517e-01,
         -3.12743103e-03,  4.01972644e-02, -1.35732055e+00,
          1.16557240e+00, -5.90622008e-01,  1.30120492e+00,
          7.37119377e-01],
        [-5.34458995e-01,  3.56287289e+00, -9.07280862e-01,
          2.63954234e+00, -2.64347720e+00,  1.98369038e+00,
          8.40918005e-01, -7.96457767e-01,  3.06246132e-01,
          1.06080282e+00, -1.42356798e-01,  5.04612064e+00,
          3.65713763e+00],
        [ 1.09966171e+00,  3.84285897e-01,  1.12531805e+00,
          4.58442837e-01, -5.44508994e-01,  2.38187456e+00,
         -7.61749268e-01,  3.24560076e-01, -7.75184631e-01,
         -2.74246216e+00,  7.85133958e-01, -1.45975664e-01,
          2.00920153e+00],
        [ 2.14248085e+00,  1.80868924e-01, -1.33760428e+00,
         -1.25024870e-01,  8.97755325e-01,  1.53151178e+00,
          1.02304094e-01,  8.56500924e-01,  2.00997996e+00,
         -1.09775472e+00, -2.34919548e+00,  6.64714277e-01,
         -3.37786078e-01],
        [-2.10384488e+00,  6.74886107e-01,  1.53205585e+00,
          2.63983339e-01, -8.17904413e-01, -7.51858115e-01,
         -2.28943157e+00,  7.71602273e-01, -1.80204594e+00,
         -1.49937522e+00,  1.89745021e+00, -5.02457380e-01,
          7.02275932e-01],
        [-5.49310267e-01,  7.77169913e-02, -7.35275960e-03,
          7.23776042e-01, -3.05998623e-01, -1.45198905e+00,
          1.82157731e+00, -5.58027983e-01, -1.14543810e-01,
          2.00999022e+00,  4.64252502e-01, -2.13868693e-01,
         -3.70062411e-01],
        [ 2.99863160e-01, -1.40975147e-01,  3.62200171e-01,
         -1.56233072e-01,  1.20316066e-01, -5.20335078e-01,
         -3.61427516e-02,  1.64839160e+00, -1.33606911e+00,
          7.87143350e-01, -4.94917214e-01,  3.93760443e-01,
         -1.66252267e+00],
        [-1.46327257e-01,  7.51997948e-01, -3.56203347e-01,
         -1.13027886e-01, -1.73215792e-01,  1.03654623e+00,
         -2.15997249e-02, -1.83609998e+00,  1.46508861e+00,
         -1.05288827e+00,  3.46471608e-01,  6.99804202e-02,
          1.61052644e+00]], dtype=float32),
 array([-4.081973  , -5.869823  , -4.227836  , -1.844383  , -1.0484272 ,
        -1.9643059 , -0.27771485,  1.9076797 ,  3.1755044 ,  0.2710072 ,
        -1.8902885 , -1.2368323 , -0.53666013], dtype=float32),
 array([[-9.0536410e-01, -7.0639448e+00, -2.5552256e+00, -3.4998658e-01,
          1.0246600e+00,  2.7269285e+00, -5.2555809e+00, -5.4694805e+00,
         -1.0567000e+00],
        [ 2.2770131e+00, -1.7159025e-01,  7.9657309e-02, -1.6359000e+00,
         -3.7737420e+00, -5.3294339e+00, -6.3100743e+00, -1.5710450e+00,
         -4.4191629e-01],
        [-3.0083683e+00,  1.7167654e+00,  5.4137278e-01, -3.5968772e-01,
          1.5833497e+00, -5.3459516e+00,  1.4473684e+00, -1.9415251e+00,
         -6.5033466e-02],
        [ 2.1067154e+00,  3.2377666e-01, -7.2399998e+00, -7.5035833e-02,
          2.7630947e+00, -1.7425324e-01,  1.1702054e+00, -1.0753812e+01,
          1.4206082e+00],
        [ 3.0073237e-01, -2.6559713e+00,  9.6258998e-02, -1.3994956e+00,
          1.5955243e+00, -1.4312899e+00, -1.0953016e+00, -6.1652403e+00,
         -2.0554705e+00],
        [ 3.7427671e-02,  3.1132105e-01,  2.6342959e+00, -2.0054968e-01,
         -4.3839874e+00,  6.2592775e-01, -7.9793042e-01,  1.2780483e+00,
         -1.0375596e+00],
        [-1.1334133e+00,  1.1283480e+00, -5.6185584e+00, -1.6490461e-01,
          1.0076195e+00, -5.6855035e-01, -9.6501005e-01, -5.9948845e+00,
         -2.2665310e+00],
        [-5.6653672e-01, -1.4213220e+00, -7.2537607e-01, -6.8990797e-01,
         -3.2081180e+00,  7.8420496e-01, -2.1677023e-01, -5.4286665e-01,
         -5.0565386e-01],
        [-1.4078834e+00, -2.7404547e-01, -1.2414085e+00, -2.5732291e-01,
         -1.6232674e+00,  9.4025624e-01,  1.8764682e+00, -2.0973756e+00,
          1.3334776e+00],
        [-3.3211780e-01,  1.2004406e+00,  1.2765924e+00, -1.3119014e-01,
         -4.1270003e+00, -1.7610368e-01, -6.2482822e-01,  1.4843134e+00,
          1.0537678e+00],
        [-3.3211012e+00, -3.8900849e-01,  1.0632086e+00,  1.2735987e-02,
         -9.9839157e-01, -1.5306430e+00,  6.6649634e-01, -2.7128914e-01,
         -7.8104332e-02],
        [ 4.8424062e-01, -3.0116194e-01, -1.0795833e+00, -1.9697401e-01,
         -1.2527642e-01,  1.1083771e+00, -1.3428267e+00,  2.9379201e-01,
         -4.0759878e+00],
        [ 2.5363162e+00,  1.1398144e+00, -1.0111097e+00, -3.0161175e-03,
         -2.2637353e+00, -1.0950750e+00,  8.6786544e-01,  1.2743527e+00,
         -1.4864334e+00]], dtype=float32),
 array([-5.492408  ,  0.0947295 ,  6.5667386 , -1.4522221 , -3.4923356 ,
         0.82875586,  0.335972  , -0.67283213, -0.55813336], dtype=float32),
 array([[-5.7954036e-02, -1.5199310e-01, -9.0496600e-01, -2.5896270e+00,
          5.5324465e-01, -3.1517107e-02],
        [-4.1536146e-01, -2.6550865e-01,  6.2063348e-02, -5.5884781e+00,
          2.8381878e-01, -1.4309307e+00],
        [-5.6812137e-01, -4.1225046e-01,  9.2216009e-01,  1.9814048e-02,
         -1.4766083e+00, -3.9881959e+00],
        [ 8.0505186e-01, -7.9138793e-02, -6.0996156e-02, -1.4343892e-01,
         -3.9732939e-01,  1.3107841e-01],
        [-4.5244727e+00, -2.0251407e-01,  9.8753428e-01, -3.4591734e+00,
         -1.1293464e+00, -2.6528699e+00],
        [-3.4641483e-01, -6.0356861e-01, -1.5352886e+00, -5.0016556e+00,
          2.5262293e-01, -4.1978490e-02],
        [-5.3479552e-01, -6.4085093e-03, -6.6615480e-01, -3.6228929e+00,
          2.4068686e-01, -2.7498558e-01],
        [-2.7404580e+00, -2.4073622e-03, -1.7136288e+00, -1.0237592e+00,
         -6.9244426e-01, -1.6346925e+00],
        [-5.4195877e-02, -1.2661959e-01, -1.0373187e+00,  8.1907362e-01,
          1.1541612e-01,  1.1251041e+00]], dtype=float32),
 array([-0.6281957 , -0.37136677, -1.7974684 ,  1.6758621 ,  2.1862042 ,
        -0.10187926], dtype=float32),
 array([[ 0.03860238],
        [-0.08464347],
        [ 0.20102483],
        [ 0.21270074],
        [-0.24696156],
        [-0.14172739]], dtype=float32),
 array([-1.003443], dtype=float32)]